<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>{% block title %}Log in{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <h2>E-learning Web Application</h2>
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  {% if user.is_authenticated %}
    <div>
      <p>Hi {{ user.username }}!</p>
      <p><a href="{% url 'password_change' %}" class="btn btn-primary">Password Change</a></p>
      <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Log Out</button>
      </form>
    </div>
  {% else %}
    <div>
      <p>You are not logged in</p>
      <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
      <a href="{% url 'login' %}" class="btn btn-secondary">Log In</a>
    </div>
  {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
